/*table, th, td {
    border: 1px solid black;
    !*border-collapse: collapse;*!
}*/


/*table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #96D4D4;
}*/

/*table, th, td {
    border: 1px solid black;
    border-radius: 10px;
}*/

th, td {
    border: 1px solid black;
    border-radius: 10px;
}
