.container {
    position: fixed;
    cursor: pointer;
    top: 1em;
    right: 1em;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
