.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-list-item {
    float: left;
}

.nav-list-item-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list-item-a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
