/*table {*/
/*    border: 1px solid black;*/
/*}*/

/*th{*/
/*    border: 1px solid black;*/
/*}*/

/*td {*/
/*    border: 1px solid black;*/
/*}*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: right;
}

#center {
    text-align: center;
}
