* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: #2196f3;
    max-width: 600px;
    margin: auto;
    padding: 1em; /* = 16px */
}

h2 {
    color: red;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 100px auto 200px;
    background-color: antiquewhite;
    margin-bottom: 1em;
}

.grid-item1 {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /*grid-template-columns: 2fr 4fr 2fr;*/
    background-color: antiquewhite;
}

.item1 {
    grid-area: side;
}

.item2 {
    grid-area: top;
}

.item3 {
    grid-area: bottom;
}

.grid-container3 {
    display: grid;
    grid-template-areas:
            'top    top    side'
            'bottom bottom side';
}
