nav {
    text-transform: uppercase;
    padding: 32px 96px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 16fr 3fr;
}

.links {
    list-style-type: none;
    margin: 5px 0 0 50px;
    padding: 0;
    overflow: hidden;
    float: left;
}

.link-items {
    float: left;
}

.link-item-a {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link-item-a:hover {
    color: var(--primary-color);
}
