/* Mobile First */
footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer-item {
    margin: 0.5em;
    padding: 1em;
    text-align: center;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    footer {
        grid-template-columns: repeat(4, 1fr);
    }
}
