/* Mobile First */
nav {
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.nav-item {
    padding: 1em;
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-item:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .active {
        background-color: purple;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    .active {
        background-color: orange;
    }

    nav {
        flex-direction: row;
    }

    .nav-item {
        padding: 0.5em 1em;
    }
}
