* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#show-tablet, #show-desktop {
    display: none;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    #show-mobile {
        display: none;
    }

    #show-tablet {
        display: block;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    #show-tablet {
        display: none;
    }

    #show-desktop {
        display: block;
    }
}
