.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

.item {
    /*float: left;*/
    border-bottom: 1px solid #bbb;
}

.item:last-child {
    border-bottom: none;
}

.link {
    display: block;
    color: white;
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

