.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.item {
    float: left;
}

.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover {
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}

.name {
    float: right;
}
