ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-grey);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--tint-dark-grey-2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: var(--tint-dark-grey-13);
}

.active {
    background-color: var(--light-brilliant-orange);
}
